@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Burbank';
  src: url("./fonts/burbankbigcondensed_black.otf");
}

* {
  font-family: 'Burbank', sans-serif;
}

.custom-slider {
  @apply w-[10rem] h-2 bg-gray-300 rounded-lg appearance-none cursor-pointer;
}

.custom-slider::-webkit-slider-thumb,
.custom-slider::-moz-range-thumb,
.custom-slider::-ms-thumb {
  @apply appearance-none w-4 h-4 rounded-full bg-blue-600 cursor-pointer border-0 transition-all duration-150 hover:bg-blue-700 hover:scale-125;
}

